.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 15px 30px;
  position: relative;
  z-index: 999;
}

.siteTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a73e8;
  font-family: "Segoe UI", sans-serif;
}

.menuButton {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Desktop Navigation */
.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navItem {
  display: flex;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: white;
}

.profilePic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.menuText {
  color: #ccc;
  font-size: 16px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .navList {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #1e1e1e;
    display: none;
    padding: 10px 0;
  }
  .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .navList.showMenu {
    display: flex;
  }

  .navItem {
    justify-content: center;
    padding: 10px 0;
  }
}
